/* poppins-regular - latin */
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-500 - latin */
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/SF-Pro-Display-Medium.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/SF-Pro-Display-Semibold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ROOT */
:root {
    --header-bg-color: #fff;
    --main-bg-color: #F8F8FA;
    --header-text-color: #2F2F2F;
    --border-color: #EBEBEB;
}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "SF Pro Display", "Arial", sans-serif;
    font-weight: 400;
    color: #000;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: #2F2F2F;
    text-decoration: none;
}

a:hover {
    color: var(--header-text-color);
    text-decoration: underline;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* HEADER STYLES START */


.site-header {
    margin-bottom: 2px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: var(--header-text-color);
    background: var(--header-bg-color);
    box-shadow: 0px 1px 2px #E4E4EE;
}

.site-header__wrapper {
    display: flex;
    align-items: center;
}

.logo__link {
    margin-right: 56px;
}

.site__list {
    display: flex;
    align-items: center;
    margin: 0;
}

.site__list-menu {
    margin-right: 73px;
}

.site__list-item__link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--header-text-color);
}

.site__list-item__link:last-child {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.item__link-icon {
    margin-right: 13px;
}

.site__list-search {
    margin-right: 85px;
}

.search-input {
    width: 475px;
    padding: 14px 18px;
    outline: none;
    border: none;
    background: var(--main-bg-color);
    border-radius: 3px;
    background-image: url('../images/search-icon.svg');
    background-repeat: no-repeat;
    background-position: 440px center;
}

/* 
.search-input::placeholder {
    font-size: 14px;
    line-height: 17px;
} */

.site__list-item {
    margin-right: 48px;
}

.site__list-item:last-child {
    margin-right: 0;
}

.site__list-item__account {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--header-text-color);
}

.site__list-item__account-icon {
    margin-right: 13px;
}

/* HEADER STYLES END */

/* ASIDE STYLES START */
.site-aside {
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: var(--header-bg-color);
}

.site-aside__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-aside__select {
    margin-right: 16px;
    outline: none;
    padding: 15px 18px 14px;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
}

.site-aside__select,
option {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--header-text-color);
}

.site-aside__link {
    display: inline-block;
    padding: 10px 16px 8px;
    border: 0.8px solid #EBEBEB;
    border-radius: 3px;
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.site-aside__link-rect {
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 13.8px;
    left: -6px;
    background-color: var(--header-bg-color);
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    transform: rotate(45deg);
}

fieldset {
    display: flex;
    align-items: center;
    margin-right: 16px;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    padding: 10px 17px 9px 19px;
}

legend {
    font-size: 10px;
    line-height: 12px;
    opacity: 0.21;
}

.site-aside__end-click {
    display: flex;
    align-items: center;
}

.site-aside__end-checkbox {
    width: 34px;
    height: 8px;
    margin-right: 4px;
    background: rgba(219, 219, 225, 0.3);
    border-radius: 4.5px;
    appearance: none;
}

.site-aside__end-checkbox:last-of-type {
    margin-right: 20px;
}

.site-aside__end-checkbox:checked {
    background-color: #000;
}

.site-aside__end-click {
    width: 62px;
    height: 29px;
    padding: 0 7px;
    border: 0.8px solid var(--border-color);
    background-color: #fff;
    border-radius: 3px;
    position: relative;
}

.click-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 20px;
    border: none;
    background: var(--header-bg-color);
    box-shadow: 0px 1px 2px #E4E4EE;
    border-radius: 3px;
    cursor: pointer;
}

.click-button:focus {
    position: absolute;
    top: 4.5px;
    right: 7px;
}



.click-center-button {
    display: inline-block;
    width: 10px;
    height: 4px;
    background: var(--header-text-color);
    border-radius: 4.5px;
    transform: rotate(90deg);
}

.site-aside__end-view {
    width: 104px;
    height: 48px;
    background: var(--main-bg-color);
    border: 0.8px solid var(--border-color);
    border-radius: 3px;
}

/* ASIDE STYLES END */

/* MAIN STYLES START */
.site-main {
    background-color: var(--main-bg-color);
}

.site-section {
    padding-top: 33px;
    padding-bottom: 54px;
}

.site-section__start {
    margin-bottom: 30px;
    justify-content: space-between;
}

.site-section__end {
    margin-bottom: 24px;
    justify-content: space-between;
}

.card {
    width: 350px;
    overflow: hidden;
    background-color: var(--header-bg-color);
    border-radius: 3px;
}

.card-header {
    position: relative;
}

.card-header__img {
    width: 100%;
}



.card-header__time {
    display: flex;
    align-items: center;
    padding: 4px 0;
    padding-left: 8px;
    padding-right: 12px;
    position: absolute;
    top: 21px;
    right: 25px;
    background: #00000040;
    backdrop-filter: blur(6.7957px);
    border-radius: 13px;
    font-size: 12px;
    line-height: 14px;
    color: var(--header-bg-color);
}

.card-header__time::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    background-image: url('../images/clock-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.card-header__pro {
    display: inline-block;
    text-align: center;
    padding: 2px 6px 2px 6px;
    position: absolute;
    bottom: -8px;
    left: 31px;
    background: var(--header-text-color);
    border: 3px solid var(--header-bg-color);
    border-radius: 9.75px;
    font-weight: 600;
    font-size: 8px;
    line-height: 11px;
    color: var(--header-bg-color);
}

.card-body {
    padding: 23px 23px 15px;
}

.card-body__wrapper {
    border-bottom: 1px solid #E2E4E7;
}

.account-wrapper {
    margin-bottom: 13px;
}

.account__img {
    margin-right: 15px;
}

.account-title {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.account-desc {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
}

.card-body__title {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.card-body__checkbox-wrapper {
    margin-bottom: 18px;
}

.card-body__checkbox-wrapper .site-aside__end-checkbox {
    background-color: var(--header-text-color);
}

.card-body__checkbox-wrapper .site-aside__end-checkbox:last-of-type {
    background: #DADAE1;
    margin-right: 12px;
}

.checkbox__desc {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
}

.card-footer {
    padding: 0 23px 17px;
    justify-content: space-between;
}

.star-text {
    margin: 0;
    margin-right: 12px;
}

.account__comments {
    position: relative;
}

.account__comments img {
    position: absolute;
    border-radius: 50%;
}

.account__comments img:first-child {
    position: static;
}

.account__comments img:nth-child(2) {
    z-index: 2;
    left: 20px;
}

.account__comments img:last-child {
    left: 40px;
    z-index: 3;
}

.card-footer__end-link {
    display: flex;
    align-items: center;
    width: 62px;
    font-size: 14px;
    line-height: 17px;
}

.card-footer__end-link::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 12px;
    margin-left: 12px;
    background-image: url('../images/chevron-right.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.btn-reload {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 11px;
    font-size: 14px;
    line-height: 17px;
    border: none;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    border-radius: 3px;
    opacity: 0.5;
    cursor: pointer;
}


/* MAIN STYLES END */

/* FOOTER STYLES START */
.site-footer{
    padding-top: 48px;
    padding-bottom: 53px;
    background-color: var(--main-bg-color);
}
.site-footer__wrapper {
    display: flex;
}

.site-footer__list:first-child {
    margin-right: 105px;
}

.site-footer__list:nth-child(2) {
    margin-right: 90px;
}

.site-footer__list:nth-child(3) {
    width: 118px;
    margin-right: 174px;
}

.site-footer__title {
    margin-bottom: 5px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 33px;
}

.site-footer__link {
    color: #6C6C6C;
    font-size: 12px;
    line-height: 34px;
}

.site-footer__tel {
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
}
.site-footer__list:last-child{
    width: 254px;
}

.site-footer__list:last-child .site-footer__item:nth-child(2) {
    margin-bottom: 12px;
}

.site-footer__list:last-child address {
    color: #6C6C6C;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}

/* FOOTER STYLES END */